@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	color: #1b1833;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}

a {
	color: #78bd80;
}

#root {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
}

.container {
	padding: 0 4rem;
}
